{% extends "layout.html" %}
{% block content %}
<form action="/patients/signup" method="POST">

    <div class="row">
        <div class="col">
            <label for="fldIndex">Email</label>
            <input id="fldIndex" type="text" class="form-control" name="fldIndex" placeholder="Please enter your email">
        </div>
        <div class="col">
            <label for="fldHeight_Inches">Password</label>
            <input id="fldHeight_Inches" type="password" class="form-control" name="fldHeight_Inches" placeholder="Patient Height">
        </div>
    </div>

    <button type="submit" class="btn btn-success">Signup</button>

    <body>
      {% for msg in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ msg }}
      </div>
      {% endfor %}
    </body>

</form>
{% endblock %}