{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Patient Number: {{ patient.fldIndex }}</li>
        <li class="list-group-item">Patient Height: {{ patient.fldHeight_Inches }}</li>
        <li class="list-group-item">Patient Weight: {{ patient.fldWeight_Pounds }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{patient.id}}" class="card-link btn btn-primary">Edit</a>
    </div>
</div>
<form action="/delete/{{patient.id}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}